@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// theme colo
.dark-mode {
  --color-white: #fff;
  --color-black: #19191B;
  --color-red: #FF3122;
  --color-lgray: #3C4049;
  --color-dgray: #1D2029;
  --color-gray: #2B2E32;
  --color-bg-gray: #1D2029;
  --color-bg-dgray: #2B2E32;
  --color-brown: #e4e4e41a;
  --color-sw-track: #2B2D3A;
  --color-sw-thumb: #FF3122;
  --color-bg-menu: #4e4e4e;
}
.light-mode {
  --color-white: #19191B;
  --color-black: #fff;
  --color-red: #FF3122;
  --color-lgray: #dadada;
  --color-dgray: #1D2029;
  --color-gray: #2B2E32;
  --color-sw-track: #2B2E32;
  --color-bg-gray: #FBFBFB;
  --color-bg-dgray: #FBFBFB;
  --color-brown: #19191B;
  --color-sw-thumb: #FBFBFB;
  --color-bg-menu: #4e4e4e;
}
//===================//

#root, h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Inter', sans-serif!important;
}
body {
  margin: 0;
}
.dark-mode,.light-mode { background-color: var(--color-black) }
.xl-screen {
  max-width: 1440px;
  margin: auto;
  padding: 0 105px;
  @media(max-width: 992px) {
    padding: 0 15px;
  }
}
.cards-content {
  padding: 0;
  list-style-type: none;
}
.section-title {
  margin-bottom: 70px;
  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--color-white);
  }
  h6 {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
  }
  @media(max-width: 768px) {
    h2 {
      font-size: 24px;
      line-height: 29px;
    }
    h6 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
.section-banner {
  background: url('../images/img-bg-blogs.png');
  background-size: 100% 100%;
  background-color: #dadada;
  .banner {
    position: relative;
    padding: 75px 0 73px;
    overflow: hidden;
    h1 {
      position: relative;
      font-size: 80px;
      font-weight: 800;
      // color: $cl-lblack;
      color: #19191B;
      line-height: 97px;
      z-index: 2;
    }
    h6 {
      position: relative;
      font-weight: 300;
      font-size: 18px;
      line-height: 24px;
      // color: $cl-black;
      color: #000;
      width: 50%;
      margin: 0;
      z-index: 2;
    }
    img {
      position: absolute;
      top: 0;
      z-index: 1;
      &.img-dot {
        width: 185px;
        height: auto;
        top: 0;
        left: 105px;
        @media(max-width: 768px) {
          width: 80px;
          left: 25px;
        }
      }
      &.img-bgr {
        display: none;
        top: 0;
        right: 105px;
      }
      @media(max-width: 992px) {
        img {
              &.img-bgr {
            display: none;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .title {
    h2 {
      font-size: 24px!important;
      line-height: 28px!important;
    }
    h6 {
      font-size: 16px!important;
      font-weight: 300;
      line-height: 24px;
    }
  }
}