// import font family
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
html {
  font-family: 'Barlow', sans-serif;
}
// color variable
$bg-dark: #181C36;
$cl-white: #ffffff;
$tablet: 991.9px;
$mobile: 767.9px;

// styles
body { margin: 0;}
.container {
  width: 100%;
  .row {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    padding: 0 15px;
    max-width: 1280px;
    margin: auto;
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-12 {
      width: 100%;
    }
    @media(max-width: $tablet) {
      .col-md-6 {
        width: 50%;
      }
      .col-md-12 {
        width: 100%;
      }
    }
    @media(max-width: $mobile) {
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-12 {
        width: 100%;
      }
    }
  }
}
.logo {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row;
  align-items: center;
  img {
    height: 34px;
    cursor: pointer;
  }
  span {
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
    color: $cl-white;
    cursor: pointer;
  }
}
.btn-gradient {
  width: 440px;
  height: 86px;
  background: linear-gradient(105.88deg, #F9575F, #2358A0);
  padding: 4px;
  border-radius: 24px;
  margin:0 auto 40px;
  button {
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-weight: 500;
    color: $cl-white;
    line-height: 39px;
    border-radius: 20px;
    border: none;
    background: $bg-dark
  }
  @media (max-width: $tablet) {
    width: 350px;
    height: 65px;
    & button {
      font-size: 20px;
      line-height: 24px;
    }
  }
  @media (max-width: $mobile) {
    width: calc(100% - 4px);
    height: 60px;
    padding: 2px;
    & button {
      font-size: 18px;
      line-height: 24px;
      border-radius: 22px;
    }
  }
}
.page {
  position: relative; 
  min-height: 100vh;
  background: url('../images/background.png') 100% 100%;
  background-size: cover;
  background-color: $bg-dark;
  background-repeat: no-repeat;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  @media (max-width: $mobile) {
    padding: 15px 0;
  }
}
.coming-soon {
  min-height: 100vh;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  .wrap-content {
    position: relative;
    width: 100%;
    padding-top: 50px;
    .title {
      position: relative;
      max-width: 80%;
      margin: 0 auto 40px;
      z-index: 1;
      h1 {
        font-size: 80px;
        font-weight: 700;
        line-height: 98px;
        color: $cl-white;
        text-align: center;
        text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.35);
        margin: 0;
      }
    }
    .bg-img {
      position: absolute;
      width: 60%;
      top: -50px;
      left: 0;
      right: 0;
      margin: auto;
      img{
        width: 50%;
        transform: translateX(7%);
        &:last-child {
          transform: translate(-7%, 45px);
        }
      }
    }
    @media (max-width: $tablet) {
      padding: 0;
      .title {
      max-width: 100%;
      padding: 0 15px;
        h1 {
          font-size: 60px;
          line-height: 70px;
        }
      }
    }
    @media (max-width: $mobile) {
      .title {
        h1 {
          font-size: 42px;
          line-height: 55px;
        }
      }
      .bg-img {
        width: 100%;
        top: 0;
      }
    }
  }
}
.btn-social {
  display: flex;
  flex-flow: row;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  li{
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background: linear-gradient(180deg, #4B5382, rgba(68, 73, 125, 0.15));
    text-align: center;
    margin: 0 8px;
    cursor: pointer;
    a {
      padding: 10px;
      border-radius: 36px;
      line-height: 40px;
      img {
        width: 16px;
      }
    }
  }
}
.btn-social,
.btn-coming-soon {
  position: inherit;
  z-index: 1;
}