#light {
  .btn-readmore {
    border-color: #212433 !important;
  }
}
#dark {
  .btn-readmore {
    border-color: #d3d3d6 !important;
  }
}

// sen suite
.bg-ss-cloud {
  .ant-image {
    position: absolute !important;
    width: 100%;
    max-width: 850px;
    min-height: 500px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
    @media (max-width: 992px) {
      min-height: 380px;
    }
    @media (max-width: 768px) {
      min-height: 240px;
    }
  }
}
