.wrap-mm-content {
  height: 100%;
  .h-full {
    height: 100%;
    padding-right: 24px;
  }
}

.moon-map-img {
  text-align: end;
  .ant-image {
    display: block;
    float: right;
  }
}

.btn-close-drawer {
  position: absolute !important;
  right: 24px;
  top: -10px;
  z-index: 99;
}

.wrap-img-nummber {
  display: block !important;
  .ant-image {
    display: block !important;
  }
}

#light {
  .card-hoverable:hover {
    background-color: #dfe2f5;
  }
}

#dark {
  .card-hoverable:hover {
    background-color: #363a57;
  }
}
