// root
#root {
  overflow: hidden;
}

.header {
  height: 64px;
  width: 100%;
  position: relative;
  .ant-select-selector {
    opacity: 0;
  }
  .ant-select-arrow {
    opacity: 0;
  }

  &-content {
    width: 1200px;
    padding: 0 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .menu-icon {
      font-size: 24px;
      margin-left: 23px;
      cursor: pointer;
    }
  }
  .sections {
    margin: 0 !important;
    &-item {
      float: left;
      margin-right: 48px;
      list-style: none;
      cursor: pointer;
    }
  }
  &.sticky {
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: #f4f4f5;
  }
  @media (max-width: 1199.9px) {
    .header-content {
      width: 100%;
    }
  }

  @media (max-width: 1050px) {
    padding: 0;
    .sections {
      &-item {
        margin-right: 32px;
      }
    }
  }
  @media (max-width: 942px) {
    .sections {
      &-item {
        margin-right: 26px;
      }
    }
  }
}

.body-content {
  max-width: 1200px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  height: auto;
  background: #181c36;
  &-content {
    padding: 50px 16px;
    margin: 0 !important;
  }

  &-item {
    color: #f4f4f5 !important;
  }
  @media (max-width: 991.9px) {
    height: auto;
  }
  @media (max-width: 991.9px) {
    height: auto;
  }
  @media (max-width: 767px) {
    &-content {
      padding: 32px 16px !important;
    }
    .brand {
      text-align: center;
    }
  }
}

// subtitle
.sub-title {
  font-size: 20px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
// Section banner
.banner {
  padding-top: 44px;
  .banner-img {
    .ant-image {
      position: absolute !important;
      width: 185px;
      left: -84px;
      top: -55px;
      img {
        animation-duration: 4s;
      }
    }
  }

  .title {
    position: relative;
    font-size: 80px !important;
    font-weight: 800;
    line-height: 90px !important;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    & .gradient-text {
      font-weight: 800 !important;
    }
    &-spec {
      color: #f9575e;
    }
  }

  .description {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
  }
  .count-down {
    position: relative;
    background-color: hsl(240, 5%, 96%);
    border-radius: 16px;
    height: 116px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-shadow: 0px 4px 40px rgba(249, 87, 94, 0.12);
    text-transform: uppercase;
    p {
      font-size: 38px;
      line-height: 46px;
      font-weight: 800;
      margin-bottom: 0 !important;
      color: #212433;
    }
    .separation {
      position: absolute;
      top: 30%;
      right: -32px;
    }
    .count-down_text {
      line-height: 32px;
      font-weight: 400;
      margin: 0;
    }
  }
  .btn-launch {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin: 0 !important;
    color: #f9575e !important;
  }

  @media (max-width: 1199.9px) {
    padding: 32px 16px !important;

    .title {
      font-size: 52px !important;
      line-height: 62px !important;
    }
    .count-down {
      .separation {
        right: -19px !important;
      }
    }
  }
  @media (max-width: 767.9px) {
    .title {
      font-size: 36px !important;
      line-height: 42px !important;
    }
    .description {
      font-size: 14px;
      line-height: 24px;
    }
    .count-down {
      .separation {
        right: -19px !important;
      }
    }
  }
  @media (max-width: 575px) {
    .count-down {
      .separation {
        right: -27px !important;
      }
    }
    .btn-launch {
      width: 100%;
      text-align: center;
    }
  }
}
.gradient-text {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: linear-gradient(90deg, transparent, #5d6ccf);
    z-index: -1;
    @media (max-width: 1199.9px) {
      height: 62px;
    }
    @media (max-width: 767.9px) {
      height: 43px;
    }
  }
}
.right-content {
  .ant-image {
    position: absolute !important;
    width: 49px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    img {
      animation: smoothBounce 3.6s infinite ease-in-out;
    }
  }
}

// Section article
.card-post {
  & .ant-card-cover {
    height: auto;
    overflow: hidden;
    cursor: pointer;
    .ant-image {
      height: inherit;
      &-img {
        object-fit: cover;
      }
    }
  }
  .ant-card-body {
    padding: 21px 24px;
    min-height: 220px;
    cursor: pointer;
    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-weight: 600;
      @media (max-width: 767.9px) {
        font-size: 20px;
      }
    }
    .description {
      font-size: 16px;
      @media (max-width: 767.9px) {
        font-size: 14px;
      }
    }
  }
}
.btn-view-all {
  font-weight: 400 !important;
  padding: 9px 16px !important;
  height: auto !important;
  border: solid 1px #d3d3d6 !important;
}

//Sen Suite
.sen-suite {
  padding: 100px;
  background: url('../../static/images/systems/bg-sen-suite.png') !important;
  background-repeat: none;
  background-size: cover !important;
  .title {
    .ant-image {
      position: absolute !important;
      top: -125px;
      right: 0;
      width: 93px;
      img {
        animation: smoothBounce 4.2s infinite ease-in-out;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 32px 16px !important;
    .title {
      .ant-image {
        position: absolute !important;
        top: -75px;
        right: 30px;
      }
    }
  }
  @media (max-width: 575px) {
    padding: 32px 16px !important;
    .title {
      .ant-image {
        display: none !important;
      }
    }
  }
}

//Utilities
.utilities {
  margin: 0 !important;
  background: #e4e5ed;
  padding: 100px;
  .title {
    .ant-image {
      position: absolute !important;
      top: -155px;
      left: -155px;
      width: 110px;
      img {
        animation: smoothBounce 4s ease-in infinite;
      }
    }
  }
  @media (max-width: 575px) {
    padding: 32px 16px !important;
    .title {
      .ant-image {
        display: none !important;
      }
    }
  }
}

// Section partner
.partner {
  margin: 0 !important;
  .title {
    .ant-image {
      position: absolute !important;
      top: -112px;
      right: -113px;
      width: 184px;
      img {
        animation: smoothBounce 5s ease-in-out infinite;
      }
    }
  }
  .ant-card-body {
    padding: 55px 24px !important;
    .ant-image {
      &-img {
        height: 48px !important;
      }
    }
  }
  &-card {
    height: 254px;
    box-shadow: none !important;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.01) translateY(-2px);
    }
  }
  @media (max-width: 575px) {
    .ant-card-body {
      padding: 16px !important;
      .ant-image {
        &-img {
          height: 24px !important;
        }
      }
    }
    .title {
      .ant-image {
        display: none !important;
      }
    }
    &-card {
      height: 164px;
    }
  }
}

.become-partner {
  margin: 0 !important;
  padding-top: 44px;
  text-align: center;
}

// Section Home Blog
.home-blog {
  &_img {
    text-align: center;
    .ant-image {
      position: absolute !important;
      width: 250px;
      right: -250px;
      bottom: -90px;
    }
  }
  &_title {
    font-weight: 800 !important;
    margin-bottom: 0 !important;
    text-align: center;
    @media (max-width: 767.9px) {
      font-size: 24px !important;
    }
  }
}
.build-on-sentre {
  text-align: center;
  background: url('../../static/images/systems/sentre-dark.png') !important;
  background-repeat: none;
  background-size: cover !important;
  padding: 72px;
  .title {
    .ant-image {
      position: absolute !important;
      top: -100px;
      left: 0;
      width: 110px;
      img {
        animation: smoothBounce 4s linear infinite;
      }
    }
  }
  @media (max-width: 575px) {
    padding: 32px 16px !important;
    .title {
      .ant-image {
        display: none !important;
      }
    }
  }
}

// Article content
.article-content {
  .ant-image,
  figure {
    width: 100%;
    overflow: hidden;
    img {
      width: inherit;
      object-fit: cover;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #212433;
    font-weight: 700;
  }
  *:not(h1, h2, h3, h4, h5, h6, strong) {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #212433;
    & em {
      font-weight: 300 !important;
      font-style: italic;
      color: #7a7b85;
    }
    @media (max-width: 1199.9px) {
      font-size: 18px;
    }
    @media (max-width: 767.9px) {
      font-size: 16px;
    }
  }
}

// Blogs
.blogs {
  padding-top: 50px;
  .ant-tabs-tab-btn {
    text-transform: capitalize;
  }
}

// social icon
.ico-social {
  font-size: 24px;
  .anticon {
    cursor: pointer;
  }
}

// Theme mode
#light {
  .ant-drawer-close {
    left: 0;
  }
  .community.ant-card {
    &::before {
      background: #f4f4f566;
    }
  }
  .article-content {
    * {
      color: #212433;
    }
  }
  .blogs {
    .ant-tabs-nav {
      &::before {
        border-bottom-color: #d3d3d6 !important;
      }
    }
  }
  .ico-social {
    color: #4e4f5c;
  }
  .partner {
    &-card:hover {
      box-shadow: 0px 4px 40px rgba(33, 36, 51, 0.12) !important;
    }
  }
}

#dark {
  .ant-drawer-close {
    left: 0;
  }
  .utilities {
    background: #2f334a !important;
  }

  .header.sticky {
    background-color: #212433;
  }
  .banner {
    .count-down {
      background-color: #212433;
      p {
        color: #e9e9eb;
      }
    }
    .btn-launch {
      color: #fb9a9e !important;
    }
  }
  .sen-suite {
    background: url('../../static/images/systems/bg-sen-suite-dark.png') !important;
    background-repeat: none;
    background-size: cover !important;
  }

  .article-content {
    * {
      color: #f4f4f5;
    }
  }
  .blogs {
    .ant-tabs-nav {
      &::before {
        border-bottom-color: #4e4f5c !important;
      }
    }
  }
  .ico-social {
    color: #d3d3d6;
  }
  .partner {
    &-card:hover {
      box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.36) !important;
    }
  }
}
